<nav
  class="d-flex flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm fixed-top">
  <h5 class="my-0 mr-auto font-weight-normal text-light">JPG & MP4 Uploader</h5>
  <nav class="my-2 my-md-0 mr-md-3" *ngIf="!this.authService.isLoggedIn">
    <a class="p-2 text-light" routerLinkActive="active" routerLink="/sign-in">Sign
      in</a>
  </nav>
  <a *ngIf="!this.authService.isLoggedIn" class="btn btn-outline-primary" routerLinkActive="active"
    routerLinkActive="active" routerLink="/sign-up">Sign up</a>
  <button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" class="btn btn-danger">Logout</button>
</nav>

<router-outlet></router-outlet>